
// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$backgroundColor: #fff;
$navbar-backgroundColor: #333;
$navbar-fontColor: #dfdfdf;
$navbar-fontColorHover: #ffa500;
$navbar-brandColor: #ffa500;
$navbar-brandColorHover: #eea200;

body {
  background-color: $backgroundColor;
  margin:0;
  padding:0;
}

/* navbar 가장 부모 스타일을 navbar-inverse로 정함 */

.navbar-inverse {
 background-color: $navbar-backgroundColor;
 border: 1px solid black;
 border-radius: 3px;
}

.navbar-inverse .navbar-brand {
  color: $navbar-brandColor;
}


.navbar-default {
 background-color: #333;
 color: #dfdfdf;
 border: 1px solid #333;
}

.navbar-default a:hover,a:focus {
  color: white;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: $navbar-brandColorHover;
  background-color: transparent;
}

// nav-bar 오른쪽 끝 3줄 (icon-bar)
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $backgroundColor;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    color: $backgroundColor;
    background-color: $navbar-backgroundColor;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $navbar-fontColor;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $navbar-fontColorHover;
    background-color: transparent;
}


.navbar-inverse .navbar-header > button > span.icon-bar:hover {
  color: $navbar-fontColorHover;
}

.navbar-inverse .navbar-nav > li > a {
  color: $navbar-fontColor;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $navbar-fontColorHover;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
  color: $navbar-fontColorHover;
}

// 푸터 꾸미기
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #dfdfdf;
}

#notice {
  top:0;
  width:100%;
  position:sticky;
  text-align:center;
}
