h2 {

}

body {
  background-color: #dfdfdf;
}

.navbar-brand {
 color: #FF9E45;
}

.navbar-default {
 background-color: #333;
 color: #dfdfdf;
 border: 1px solid #333;
}

.navbar-default a:hover,a:focus {
  color: white;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #dfdfdf;
}
