// Place all the styles related to the showme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$background-color: #fff;
$navbar-background-color: #333;
$navbar-font-color: #dfdfdf;
$navbar-font-color-hover: #ffa500;
$navbar-brand-color: #ffa500;
$navbar-brand-color-hover: #eea200;

body {
  background-color: $background-color;
  margin:0;
  padding:0;
}

/* navbar 가장 부모 스타일을 navbar-inverse로 정함
   navbar styling start */

.navbar-inverse {
 background-color: $navbar-background-color;
 border: 1px solid black;
 top: 0;
 width: 100%;
 height: 55px;
}

.navbar-inverse .navbar-brand {
  color: $navbar-brand-color;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: $navbar-brand-color-hover;
  background-color: transparent;
}

.navbar-default {
 background-color: #333;
 color: #dfdfdf;
 border: 1px solid #333;
}

// nav-bar 오른쪽 끝 3줄 (icon-bar)
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $background-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    color: $background-color;
    background-color: $navbar-background-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $navbar-font-color;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $navbar-font-color-hover;
    background-color: transparent;
}

.navbar-inverse .navbar-header > button > span.icon-bar:hover {
  color: $navbar-font-color-hover;
}

.navbar-inverse .navbar-nav > li > a {
  color: $navbar-font-color;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $navbar-font-color-hover;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
  color: $navbar-font-color-hover;
}

.navbar-inverse .navbar-brand:focus {
  color: $navbar-brand-color-hover;
  background-color: transparent;
}

// nav-bar 오른쪽 끝 3줄 (icon-bar)
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $background-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    color: $background-color;
    background-color: $navbar-background-color;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $navbar-font-color;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $navbar-font-color-hover;
    background-color: transparent;
}

.navbar-inverse .navbar-header > button > span.icon-bar:hover {
  color: $navbar-font-color-hover;
}

.navbar-inverse .navbar-nav > li > a {
  color: $navbar-font-color;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $navbar-font-color-hover;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
  color: $navbar-font-color-hover;
}

/* navbar-styling end */

/*  main.html.erb styling start  */

#main {
  text-align: center;
  vertical-align: middle;
  margin-top: 190px;
}

#main_h1 {
  text-shadow: 0 0 3px #333, 0 0 10px #ffa500;
  font-size: 4em;
}

.header {
  margin-left: 40px;
  margin-bottom:38px;
}

.main_view {
  margin-left:35px;
}

/* 지도 그림 보여지는 부분 */

.map_view {
  display:inline;

  .map_hover { display:none; }
  &:hover .map { display:none; }
  &:hover .map_hover { display:inline-block }
}

.mic_view {
  margin-left:45px;
  display:inline;

  .mic_hover { display:none; }
  &:hover .mic { display:none; }
  &:hover .mic_hover { display:inline-block; }
}

/* map 관련 태그 */

.map {
  color:#333;
}

.map_hover {
  color:#ffa500;
}

.map .map_hover {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

/* mic 관련 태그 */

.mic {
  color:#333;
}

.mic_hover {
  color:#ffa500;
}

.mic .mic_hover {
  margin-left: 10px;
  width: 150px;
  height: 150px;
}

/* 지도, 마이크 텍스트 */
.main_text {
  margin-top:15px;
  margin-left:30px;
}

/* 지도 텍스트 */
.map_text {
  display:inline;
}

/* 마이크 텍스트 */
.mic_text {
  display:inline;
  margin-left:87px;
}

/*  main.html.erb styling end  */


/* footer styling start */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #dfdfdf;
}

/* footer styling end */

/*  Application 대표 색깔 Styling start */
.btn-kono {
  color: #ffa500;
  background-color: #333;
  border-color: #333;

  &:hover {
    color: #eea200;
  }
}

.label-kono {
  font-size: 12px;
  color: #eea200;
  background-color: #333;
  border-color: #333;
}
/*  Application 대표 색깔 Styling end */



/* 기타  */
#notice {
  top:0;
  width:100%;
  position:sticky;
  text-align:center;
}

h3 {
  background-color: #333;
  color: orange;
  padding: 3px 0px 3px 10px;
}
