<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>
      음악의 모든 것! nikonokono
    </title>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
  
  </body>
</html>
