<!DOCTYPE html>
<html>
  <head>
    <style>
      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
        background: linear-gradient(to bottom right, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

    </style>
  </head>
  <body>
     <div id="main" class="container">
        <div class="header">
          <h1 id="main_h1"> Nikonokono </h1>
        </div>

        <div class="main_view">
          <div class="map_view">
            <i class="fa fa-map-marker map" style="font-size:180px;"></i>
            <a href="/map/map"><i class="fa fa-map-marker map_hover" style="font-size:180px;"></i></a>
          </div>

          <div class="mic_view">
            <i class="fa fa-microphone mic" style="font-size:180px;"></i>
            <a href="/showme/index"><i class="fa fa-microphone mic_hover" style="font-size:180px;"></i></a>
          </div>
        </div>

        <div class="main_text">
            <div class="map_text">
                <strong>노래방 찾기</strong>
            </div>
            <div class="mic_text">
                <strong>노래 업로드</strong>
            </div>
        </div>
     </div>
  </body>
</html>
