<html>
<head>

</head>

<body>
  <div class="container">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>

    <div class="col-xs-8 col-sm-8 col-md-8">
      <h2 style="text-align:center;"> 음악 파일을 업로드 하세요! </h2>
      <%= render 'form' %>
    </div>
  </div>
</body>
</html>
