<head>
  <style type="text/css">
    #panel1 {
      background-color : tomato;
    }

    #panel2 {
      background-color : orange;
    }

    #panel3 {
      background-color : yellow;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="title" style="background-color:lightgray">
      명예의 전당
  </div>
  <!-- 첫 번째 줄 -->
  <div class="row" style="margin-top:50px;">

    <div id="rank">
      <div class="col-sm-4">
        <p style="background-color:lightgray"> 1등 </p>
        <div id="panel1" class="panel">
          <div class="media" style="margin-top:10px">
            <div class="media-left">
               <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
             <div class="media-body">
               <h4 class="media-heading">1등</h4>
               <p> 닉네임 : elifjs <br>
                   가수 : 이수 <br>
                   노래 : 행복하지 말아요<br>
                   조회수 : 938 &nbsp;
                   추천수 : 398 </p>
             </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <p style="background-color:lightgray"> 2등 </p>
        <div id="panel2" class="panel">
          <div class="media" style="margin-top:10px">
            <div class="media-left">
               <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
             <div class="media-body">
               <h4 class="media-heading">2등</h4>
               <p> 닉네임 : vidhkdv <br>
                   가수 : 나얼 <br>
                   노래 : 바람기억 <br>
                   조회수 : 938 &nbsp;
                   추천수 : 398 </p>
             </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <p style="background-color:lightgray"> 3등 </p>
        <div id="panel3" class="panel">
          <div class="media" style="margin-top:10px">
            <div class="media-left">
               <img src="img_avatar1.png" class="media-object" style="width:60px">
            </div>
             <div class="media-body">
               <h4 class="media-heading">3등</h4>
               <p> 닉네임 : qpwrijk <br>
                   가수 : 임창정 <br>
                   노래 : 소주한잔 <br>
                   조회수 : 938 &nbsp;
                   추천수 : 398 </p>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container end -->
</body>
