<script type="text/javascript">
  $(document).ready(function(){
     alert("자신의 글은 추천할 수 없습니다.");
     history.back();
  });
</script>

<body>

  <!-- 자기자신모달(self_modal) 정의 부분 -->
  <div id="self_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal 내용-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> 자신의 글은 추천할 수 없습니다. </h4>
        </div>
        <div class="modal-body">
          <h5> 이전 페이지로 돌아갑니다. </h5>
        </div>
        <div class="modal-footer">
          <a onclick="<script>goBack();</script>" type="button" class="btn btn-default" data-dismiss="modal">확인</a>
        </div>
      </div>
    </div>
  </div>
</body>
